<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @accommodation.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @accommodation.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @accommodation.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @accommodation.country %>
</p>

<p>
  <strong>Address:</strong>
  <%= @accommodation.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @accommodation.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @accommodation.longitude %>
</p>
<%= form_for :upload_images, url: :upload_accommodation_image_accommodations,  html: { multipart: true, class: "dropzone"} do |f|  %>

  <%= f.hidden_field :accommodation_id, value:  @accommodation.id %>
    <div class="fallback">
      <%= f.file_field :img_name %><br>
      <%= f.submit "Upload" %>
    </div>
<% end %>
<%= link_to 'Edit', edit_accommodation_path(@accommodation) %> |
<%= link_to 'Back', accommodations_path %>
<script type="text/javascript">
    $(function () {

    $(".dropzone").dropzone({
    
      paramName: 'upload[img_name]',
      addRemoveLinks: true,
      success: function(file, response) {
        $(file.previewElement).find('.dz-remove').attr('id', response.id);
        $(file.previewElement).addClass('dz-success');
      },
      removedfile: function(file) {
        var id = $(file.previewTemplate).find('.dz-remove').attr('id');
        $.ajax({
          type: 'DELETE',
          url: "/remove_accommodation_image/" + id,
          success: function(data) {
            console.log(data.message);
          }
        });

        var previewElement;
        return (previewElement = file.previewElement) != null ? (previewElement.parentNode.removeChild(file.previewElement)) : (void 0);
      },
    });
  });
  </script>