<p id="notice"><%= notice %></p>

<h1>Listing Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @listing_types.each do |listing_type| %>
      <tr>
        <td><%= listing_type.name %></td>
        <td><%= link_to 'Show', listing_type %></td>
        <td><%= link_to 'Edit', edit_listing_type_path(listing_type) %></td>
        <td><%= link_to 'Destroy', listing_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Listing Type', new_listing_type_path %>
