
<section class="primary-bg">
  <div class="container">
    <div id="login_signup">
      <div class="form_wrap_m">
        <div class="white_box">
          <h3>Sign Up</h3>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>
            <div class="form-group">
               <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email" %>
            </div>
           
            <div class="form-group">
              <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
            </div>
            <div class="form-group">
             <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control",placeholder: " Confirm Password" %>
            </div>
            <div class="form-group">
              
              <%= f.submit "Sign up", class: "btn btn-block",  value: "Sig Up" %>
            </div>
          <% end %>
          <p>Already have an account?<%= link_to "Sign In", new_session_path(resource_name) %></p>
          <div class="back_home"><a href="/" class="btn outline-btn btn-sm"><i class="fa fa-angle-double-left"></i> Back to Home</a></div>
        </div>
      </div>
    </div>
  </div>
</section>